<div class="ui small modal">
  <i class="close icon"></i>
  <div class="header">
    New <%= controller_name.gsub("_", " ").capitalize.chop %>
  </div>
  <div class="content">
    <div class="description">
      <div class="ui two column centered grid">
        <div class="column">
          <div class="ui header">
            <%= controller_name.gsub("_", " ").capitalize.chop %> Details
          </div>
          
          <%= render "form" %>
          <%= hidden_field_tag :target_id, target_id %>
        </div>
      </div>
    </div>
  </div>
</div>