<header>
  <div class="container">
    <div class="ui two column grid">
      <div class="column">
        <div class="logo">
          <i id="sidebar" class="sidebar icon"></i>
          <%= image_tag "application/campex_logo.png" %>
        </div>
      </div>
      <div class="middle aligned right aligned column">
        <%= current_user.name %>
        <a class="item" href="<%= destroy_user_session_path %>" data-method="delete">
          <i class="sign out icon"></i>
          Sign out
        </a>
      </div>
    </div>
  </div>
</header>   