<div class="campex-body">
  <div id="side" class="ui sidebar inverted vertical menu active">
    <div class="ui inverted segment">
      <div class="ui inverted accordion">
        <div class="item">
          <%= link_to "Dashboard", root_url, class: "title" %>
          <i class="dashboard icon"></i>
        </div>

        <div class="item">
            <a class="title">
                Settings
                <i class="settings icon"></i>
            </a>
            <div class="content">
              <div class="ui form">
                <div class="item">
                  <%= link_to "Departments", departments_path, class: "title" %>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>