<h1>Listing Roles</h1>

<table class="ui single line celled striped blue table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="center aligned">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td class="center aligned">
          <%= link_to 'Show', role %> | 
          <%= link_to 'Assign Users', assign_users_role_path(role) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role', new_role_path %>
