<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @term_structure.name %>
</p>

<%= link_to 'Edit', edit_term_structure_path(@term_structure) %> |
<%= link_to 'Back', term_structures_path %>
