<h1>Listing Class Timings</h1>

<table class="ui single line celled striped blue table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @class_timings.each do |class_timing| %>
      <tr>
        <td><%= link_to class_timing.name, class_timing_periods_path(class_timing) %></td>
        <td class="center aligned">
          <%= link_to 'Edit', edit_class_timing_path(class_timing) %> | 
          <%= link_to 'Destroy', class_timing, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class timing', new_class_timing_path %>
