<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @class_timing.name %>
</p>

<%= link_to 'Edit', edit_class_timing_path(@class_timing) %> |
<%= link_to 'Back', class_timings_path %>
